.storybar_container{
    display: flex;
    overflow-x: scroll;
    width: 615px;
    height: 120px;
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-top: 25px;

}

.storybar_container::-webkit-scrollbar{
    display: none;
}
.story_photo{
    width: 55px;
    height: 55px;
    border: 3px solid #df3968;
  

}

.story_username{
    font-size: 12px;
    max-width: 50px;
    overflow-x: hidden;
    text-align: center;
}

.story{
    margin: 25px 10px;

}

.add_story{
    width: 55px;
    height: 55px;
    margin: 30px 10px;
}